body{
    background: #BDBDBD;
}
.jumbotron {
 background-image: url("assets/img/bg.jpg");
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.h1 {
    color: blue;
}