<!-- your html code here -->
<div class="container">
<h1>Contact</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>
<div class="col-8 mx-auto">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Your Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your email">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please enter your message here..." rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>