<!-- your html code here -->
<div class="container container-fluid .bg-white">
    <div class="row .bg-white">
        <div class="col-8">
            <div class="col-12">
                <h1>This First Heading <span class="text-muted">Will Catch Your Eye</span></h1>
            </div>
            <div class="col-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae sapien non est vestibulum ultricies. Donec eu metus mattis, eleifend nunc quis, facilisis augue. Suspendisse molestie euismod mi, sed aliquam risus ullamcorper eu. Nullam quis dignissim massa.</p>
            </div>
        </div>
        <div class="col-4">
            <div class="col-12">
                <img src="assets/img/1.jpg" alt="Walter White" class="image-fluid rounded-circle mw-100">
            </div>
        </div>
    </div>
</div>
