<!-- your html code here -->
<div class="container">
    <h1>Portfolio</h1>
    <p>This is our own personal portfolio if you dont love this then I seriously dont know what is wrong with you!</p>

    <div class="row">
        
        <div class="col">
            <div class="card-deck">
            <div class="card">
            <img src="https://i.pinimg.com/736x/a9/86/27/a98627655eff7c321ef15898fd44fcb5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title text-primary">Project One</h5>
            <p class="card-text">“Everything I know I learned from dogs.Dogs do speak, but only to those who know how to listen.Scratch a dog and you’ll find a permanent job</p>
            </div>
            </div>
            
            <div class="card">
            <img src="https://i.pinimg.com/736x/20/2d/6f/202d6f6a8c3eaf051d0d89e0837b7967.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title text-primary">Project Two</h5>
            <p class="card-text">“Everything I know I learned from dogs.Dogs do speak, but only to those who know how to listen.Scratch a dog and you’ll find a permanent job</p>
            </div>
            </div>
            
            <div class="card">
            <img src="https://cdn.i-scmp.com/sites/default/files/styles/700x400/public/d8/images/methode/2019/12/19/5fded670-21d1-11ea-acfb-1fd6c5cf20a4_image_hires_053625.jpg?itok=hHYQA2aF&v=1576704992" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title text-primary">Project Three</h5>
            <p class="card-text">“Everything I know I learned from dogs.Dogs do speak, but only to those who know how to listen.Scratch a dog and you’ll find a permanent job</p>
            </div>
            </div>
            </div>
        </div>

        
        
        
       


    </div>

</div>