<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Component</th>
      <th scope="col">Name of the master who did it</th>
      <th scope="col">File Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Navbar</td>
      <td>Emily</td>
      <td>navbar.html</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Tagline</td>
      <td>Cesar</td>
      <td>tagline.html</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>First Heading</td>
      <td>Niza</td>
      <td>first_heading.html</td>
    </tr>
       <tr>
      <th scope="row">4</th>
      <td>Services</td>
      <td>Marie</td>
      <td>services.html</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Portfolio</td>
      <td>Mily</td>
      <td>portfolio.html</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Contact</td>
      <td>Sarah</td>
      <td>contact.html</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Team list</td>
      <td>Kevin</td>
      <td>team_list.html</td>
    </tr>
  </tbody>
</table>